#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Link
Icon[en_US]=gnome-panel-launcher
Name[en_US]=LEAME
URL=http://wiki.xensource.com/xenwiki/LiveCD
Name=LEAME
Icon=gnome-panel-launcher
