
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=iceweasel
Name[en_US]=LEAME
Exec=iceweasel http://wiki.xen.org/xenwiki/QuickGuideSp
Comment[en_US]=LEAME - Guía rápida en Español.
Name=LEAME
Comment=LEAME - Guía rápida en Español.
Icon=iceweasel
