
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=iceweasel
Name[en_US]=LEIAME
Exec=iceweasel http://wiki.xen.org/xenwiki/QuickGuidePt
Comment[en_US]=LEIAME - Guia Rápido em Português.
Name=LEIAME
Comment=LEIAME - Guia Rápido em Português.
Icon=iceweasel
