
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=iceweasel
Name[en_US]=README
Exec=iceweasel http://wiki.xen.org/xenwiki/QuickGuideEn
Comment[en_US]=README - Quick Guide in English
Name=README
Comment=README - Quick Guide in English
Icon=iceweasel
