#
#  Hostname
#
name        = "opensolaris02"

#
#  Kernel and ramdisk
#
kernel      = "/var/lib/xen/kernels/platform/i86xpv/kernel/unix"
ramdisk     = "/var/lib/xen/kernels/platform/i86pc/boot_archive"
extra       = "/platform/i86xpv/kernel/unix - nowin -B bootpath=/xpvd/xdf@0:a -B console=xen -B zfs-bootfs=rpool/36"


#
#  PyGRUB + memory size
#
memory      = '512'
vcpus       = 1

#
#  Disk device(s).
#
disk        = [ 'file:/mnt/xendomains/opensolaris02/opensolaris02-disk1.img,0,w' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'

#
#  Networking
#
vif         = [ 'mac=00:01:64:e2:46:98, vifname=opensolaris02' ]
